    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: var(--bg-primary-color);
        color: var(--text-primary-color);
    }
    
    
    html,body{
        width: 100%; 
    }

    main{
        width: 100%; 
    }

    main section{
        width: 100%; 
        padding: var(--padding-2xl);
        display: flex;
        gap: var(--gutter-lg);
        
    }

    .btn{
        padding: var(--padding-sm) var(--padding-lg);
        border: none;
        outline: none;
        border-radius: var(--border-radius-md);
        background-color: var(--bg-active-color);
        color: var(--text-active-color);
        cursor: pointer;
    }
    #reset-btn{
        background-color: var(--bg-danger-color);
        color: var(--text-primary-color);
    }
    #download-btn{
        background-color: var(--bg-success-color);
        color: var(--text-primary-color);

    }
    main section .left{
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: var(--gutter-lg);
    }
    main section .right{
        width: 30%;
        background-color: var(--bg-secondary-color);
        padding: var(--padding-lg);
        border-radius: var(--border-radius-lg);

    }
    main section .top{
        display: flex;align-items: center;
        gap: var(--gutter-md);
    }
    main section .bottom{
        background-color: var(--bg-secondary-color);
        width: 100%;
        padding: var(--padding-2xl);
        aspect-ratio: 6/3;
        border-radius: var(--border-radius-xl);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: var(--gutter-md);
    }


    main section .bottom .placeholder i{
        font-size: 10rem;
        opacity: 0.3;
    }

    main section .bottom .placeholder p{
        font-size: var(--font-size-lg);
    }
    main section .right {
        display: flex;
        flex-direction: column;
        gap: var(--gutter-md);
    }
    main section .right .filters{
        display: flex;
        flex-direction: column;
        gap: var(--gutter-lg);
    }
    main section .right .filter{
        width: 100vw;

    }

    input{
        width: 100%;
        outline: none;
        margin-top: var(--margin-sm);
        appearance: none;
    }
    input::-webkit-slider-runnable-track{
        background-color: var(--bg-active-color);
        height: 2px;
        border-radius: var(--border-radius-sm);
    }
  /* Chrome, Edge, Safari */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    margin-top: -9px; /* centers thumb on track */
}


canvas{
    max-width: 90%;
    max-height: 80vh;
}

@media (max-width:992px) {
     main section{
        display: flex;
        flex-direction: column;
     }
      main section .right input{
        display: flex;
        gap: var(--gutter-md);
    }
}